In [1]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import time
sns.set()
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
# for local drive use
beer_df = pd.read_csv("data/beer.gz")

# drop all rows with any NaN values
beer_df = beer_df.dropna()

# remove duplicate rows in place
beer_df.drop_duplicates(keep="first")
beer_df = beer_df.reset_index(drop = True)

# show first 10 rows
beer_df.head(10)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159
6,1075,Caldera Brewing Company,1318991115,3.5,3.5,3.5,Reidrover,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159
7,1075,Caldera Brewing Company,1306276018,3.0,2.5,3.5,alpinebryant,Herbed / Spiced Beer,2.0,3.5,Caldera Ginger Beer,4.7,52159
8,1075,Caldera Brewing Company,1290454503,4.0,3.0,3.5,LordAdmNelson,Herbed / Spiced Beer,3.5,4.0,Caldera Ginger Beer,4.7,52159
9,1075,Caldera Brewing Company,1285632924,4.5,3.5,5.0,augustgarage,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159

In [3]:
beer_df.describe(include=[object])

,brewery_name,review_profilename,beer_style,beer_name
count,1518478,1518478,1518478,1518478
unique,5155,32908,104,44075
top,Boston Beer Company (Samuel Adams),northyorksammy,American IPA,90 Minute IPA
freq,38806,5346,113144,3289

In [17]:
# count number of beer reviews per beer
review_number = beer_df["beer_name"].value_counts()
review_number

90 Minute IPA                          3289
Old Rasputin Russian Imperial Stout    3110
Sierra Nevada Celebration Ale          2999
India Pale Ale                         2960
Two Hearted Ale                        2727
                                       ...
Magnificent Amber                         1
Island Skippers                           1
Ringo                                     1
Gnoffs APA                                1
Jacobsen Extra Pilsner                    1
Name: beer_name, Length: 44075, dtype: int64

In [ ]:
# Plot
plt.figure(figsize=(10,8));
sns.pairplot(reviewer_counts, kind="scatter");
plt.show();

In [8]:
counts = beer_df["beer_beerid"].value_counts()
#counts#[counts < 3]
#type(counts)
#number = counts.to_frame(name="counts")
#number
counts

2093     3289
412      3110
1904     2999
1093     2727
4083     2702
         ...
53211       1
38457       1
29562       1
42559       1
73708       1
Name: beer_beerid, Length: 49000, dtype: int64

In [28]:
# extract unique breweries and beer names
brewery_beer_df = beer_df.loc[:,["beer_name","beer_beerid"]]
#brewery_beer_df = brewery_beer_df.drop_duplicates(subset=["beer_name","beer_beerid"], keep=False)
brewery_beer_df
#counts = brewery_beer_df["beer_name","beer_beerid"].value_counts()
#df = pd.DataFrame(counts)
#df

                      beer_name  beer_beerid
0                  Sausa Weizen        47986
1                      Red Moon        48213
2        Black Horse Black Beer        48215
3                    Sausa Pils        47969
4                 Cauldron DIPA        64883
...                         ...          ...
1518473      The Horseman's Ale        33061
1518474      The Horseman's Ale        33061
1518475      The Horseman's Ale        33061
1518476      The Horseman's Ale        33061
1518477      The Horseman's Ale        33061

[1518478 rows x 2 columns]

In [46]:
counts_df = brewery_beer_df.groupby(["beer_name"])["beer_beerid"].count()
counts_df

beer_name
! (Old Ale)                         1
"100"                               5
"100" Pale Ale                      1
"12"  Belgian Golden Strong Ale     2
"33" Export                         3
                                   ..
Žamberecký Kanec Imperial Stout    2
Ω-naught (Omeganaught)              3
“Chewy” Double IPA                  1
横須賀ビアサケ (Yokosuka Biasake)          1
葉山ビール (Hayama Beer)                 1
Name: beer_beerid, Length: 44075, dtype: int64